@CHARSET "UTF-8";
	body {
		background-color: #596e79; 
		font-size: 12px;
	}
	table {
		border: 2px solid #c7b198; 
		width:95%; 
		margin: 10px auto;
	}
	table tr {
		background-color: #dfd3c3; 
	}
	table tr:hover {
		background-color: #c7b198; 
		cursor: pointer;
	}
	td, th {
		text-align: center; 
		padding:5px; 
	}
	caption {
		font-size: 25px; 
		padding:10px;
	}
	h2, b{
		text-align: center; 
	}
	a {
		text-decoration: none; 
		color:black
	}
	.left{
		
	}
	.paging {
		text-align: center;
	}
	input:not(.btn), textarea {
		width: 90%;
}
