@charset "UTF-8";

	#mainForm_wrap{
		margin: 0 auto;
		justify-content:center;
		display:inline-block;
		position:relative;
		width:100%;
		overflow:hidden;
		text-align:center;
	}
	
	#mainForm_wrap img{
		margin: 0 auto;
		
		float:left;
		width:100%;
	}
	.btn1{
		position: absolute;
		bottom:4em;
		left:4em;
		background-color:white;
		color:white;
		opacity:0.7;
		padding:1em 1.5em;
		color: black;
		width:100px;
	}
	
	.btn1:hover {
		opacity:1;
	}
	.btn2{
		position: absolute;
		bottom:4em;
		left:15em;
		color:white;
		border: 1px solid white;
		padding:1em 1.5em;
		color: white;
		width:100px;
	}
	
	.btn2:hover {
		opacity:1;
	}
	
