@charset "UTF-8";
	*{
		font-family: 'Noto Serif KR', serif;
	}
	#content_wrap table{ 
		margin: 15px auto;
		border-collapse: collapse;
	}
	#content_wrap img { 
		height:700px;
	}
	#content_wrap h1 { 
		text-decoration:none;
		font-weight: normal;
		font-size:2em;
	}
	
	#content_wrap table tr td:not(img){ 
		width:500px;
		text-align: left;
		padding-left:100px;
		
	}
	td .description {
		width:300px;
		color:#736337;
	}
	
	#content_wrap td, th { 
		text-align: center; 
		background-color: rgba(255,255,255,0.2);
	}
	
	.btn2{
		color:white;        	
		background-color:  black;
		
		border:0;              
		outline: none;
		width:100px;              
		padding:10px;
		border-collapse: collapse;
		box-shadow: 0 0 20px rgba(0,0,0,0.1);
		border-radius: 4px;
	}
	.btn2:HOVER{
		 
		 background-color: #414141;
		 cursor: pointer;
	}
	.cartBtn, .noCartBtn{
		color: black;      	
		background-color: #D5D8DC;
		border:0;              
		outline: none;
		width:150px;   
		padding:10px;
		border-collapse: collapse;
		box-shadow: 0 0 20px rgba(0,0,0,0.1);
		border-radius: 4px;
	}
	.cartBtn:HOVER, .noCartBtn:HOVER{
		filter: brightness(90%);
		cursor: pointer;
	}
	.quantBtn{              
		outline: none;
		border:none;
		
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button {
  		opacity: 1;
	}
	
	
	