@charset "UTF-8";
	body { 
		font-size: 9pt;
		background-color: #FFDFDD
	}
	form {
		margin: 0 auto;
		text-align:center;
	}
	table{ 
		margin: 10px auto;
		width:95%;
		padding:10px 20px;
	}
	table tr {
		background-color: #FFCCCB;
		height: 40px;
	}
	
	table tr:HOVER {
		background-color: #C4AEAD;
		cursor: pointer;
	}
	td, th { 
		text-align: center; 
		padding: 10px 20px;
	}
	caption { 
		font-size: 25px; 
		padding:10px;
	}
	
	h2, b {
		text-align:center;
		color:blue;
	}
	a { 
		text-decoration: none; 
		color:black
	}
	.left{
		text-align: left;
	}
	.paging {
		text-align: center;
	}
	input:not(.btn), textarea {
	width: 90%;
}