@charset "UTF-8";
	body { 
		font-size: 9pt;
		background-color: #596e79; 
	}
	form {
		margin: 0 auto;
		text-align:center;
		
			}
	table{ 
		margin: 10px auto;
		width:95%;
		padding:10px 20px;
		background-color: #c7b198;
	}
	table tr {
		background-color:  #dfd3c3; 
		height: 40px;
	}
	
	table tr:HOVER {
		background-color: #c7b198;
		cursor: pointer;
	}
	td, th { 
		text-align: center; 
		padding: 10px 20px;
	}
	caption { 
		font-size: 30px; 
		padding:10px;
		color: #f0ece2; 
	}
	
	h2, b {
		text-align:center;
		color:#dfd3c3;
	}
	a { 
		text-decoration: none; 
		color: black;
	}
	.left{
		text-align: left;
	}
	.paging {
		text-align: center;
	}
	