@charset "UTF-8";
	#joinForm_wrap {
		width:600px; 
		margin: 10px auto;
		padding:20px;
		text-align: center;
		}
	#join_title{          	
		margin:10px auto;
		padding-bottom:20px;     	
		border-bottom:1px solid #625750;
		color:#625750;          	
		font-size:1.5em;
		text-align:center;       	
		font-weight:bold;
	}
	#joinForm_wrap table{
		margin:0 auto; 
		color:#dfcdc3; 
		}
	#joinForm_wrap table tr{
		height:40px; 
		}
	#joinForm_wrap table th{
		width:300px;        	
		font-size:0.9em;
		color:#625750;     
		text-align:left;    	
		padding-left:10px;
	}
	#joinForm_wrap table td {
		width: 300px;
	}
	#cusno, #custname, #phone, #address, #birth, #grade, #city, #joindate {
		border: 1px solid #5f6769; 
		height:20px;	
		width:95%; 
		padding:3px;
	}
	
	.joinBtn_style {
		color: #ffffff;        	
		background: #5f6769;
		border:0;              
		outline: none;
		width:32%;              
		padding:5px 0; 
	}