@charset "UTF-8";

	*{
		padding:0; margin: 0;
	}
	body { 
		background-color: white; 
		font-size: 9pt;
	}
	header a {
		text-decoration: none; 
	}
	header li {
		list-style: none;
	}
	header .gnb{
		width: 100%;
		background-color: #625750; 
	} 
	header .gnb ul {
		overflow: hidden;
		height: 30px;
		line-height: 30px;
		margin: 0 auto;
	}
	header .gnb ul li {
		float: right;
		margin-right: 30px;
	}
	header .gnb a { 
		color : white;
		font-size: 0.9em;
		display: block;
		padding-left:15px;
		padding-right:15px;
	}
	header .logo{
		width:120px; 
		text-align:center;
		margin: 20px auto;
		cursor: pointer;
	}
	header .logo img{
		width:120px;
	}
	header .lnb {
		border-top: 1px dashed #625750;
		border-bottom: 1px dashed #625750;
		width:100%;
	}
	header .lnb > p{
		width:100%; 
		text-align:center;
		cursor: pointer;
		height:40px;
		line-height: 40px;
	}
	header .lnb ul{
		overflow: hidden;
		width:300px;
		margin: 0 auto;
	}
	header .lnb ul li {
		margin: 5px;
		float:right;
		padding:5px 40px;
		line-height: 25px;
	}
	header .lnb a {
		color: #625750;
		font-size:1.1em;
		display: block;
	}
	