@charset "UTF-8";
	*{
		padding:0; margin: 0;
	}
	footer #footer_up{
		overflow:hidden;
		height: 100px;
		display:flex;
		justify-content:center;
		width: 100%;

	}
	footer #footer_up div {
		float:left;
		text-align: center;
	}
	footer div.office_logo img {
		
		height: 60px;
		padding:20px;
		
	}
	footer div.office_address{
		margin-left:15px;
		height:120px;
		display: block;
	}
	footer div.office_address ul{
		margin: 20px 20px 20px 20px;
	}
	footer div.office_address ul li{
		padding:2px;
		color:gray;
		font-size: 0.8em;
		list-style: none;
	}
	footer div.office_address ul li a{
		padding:2px;
		color:gray;
		font-size: 0.8em;
		list-style: none;
	}
	footer div.copyright{
		clear: both;
		border: 0;
		width: 100%;
		height: 25px;
		margin: 0 auto;
		background-color: #625750;
		color: white;
		text-align: center;
		line-height: 25px;
		font-size: 0.9em;
	}